@{
    ViewData["Title"] = "Shop";
    int price = 400;
    string product = "Perfumes";
}

<div class="text-center text-primary">
    <h1 class="display-2 ">

        Our Products
    </h1>
    @if (price >= 500)
    {
        <p >Our @product range starts from Rs. 500.</p>
    }else{
        <p>Our @product range is under Rs. 500.</p>
    }
   
</div>

